.popoverContainer {
  // width: 30rem;
  width: 32rem;
  margin: 0 auto;

  box-shadow: 0px 6px 30px rgba(181, 185, 192, 0.2);
  border-radius: 8px;
  height: 27rem;
  overflow: auto;
  position: relative;
  .popover_Header {
    position: sticky;
    width: 100%;
    margin-bottom: 10px;
    top: 0;
    padding-top: 3%;
    z-index: 1000;

    background-color: white;
    box-shadow: 0 6px -1px -8px rgba(0, 0, 0, 0.0784313725),
      0 9px 28px rgba(0, 0, 0, 0.0509803922),
      0 12px 48px 16px rgba(0, 0, 0, 0.031372549);
  }
  .PopoverDataItems {
    margin-bottom: 1.2rem;
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(181, 185, 192, 0.1);
    border-radius: 8px;
    padding: 1% 3% 2%;
  }
  .title {
    white-space: nowrap;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #4f535a;
    padding-left: 6%;
    padding-right: 6%;
  }
  hr {
    border: 1px solid #e4e4e4;
  }
  .ItemContainer {
    padding-bottom: 4%;
    padding: 0% 6%;
    overflow: hidden;
    margin-top: 5%;
    .Popover_items {
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
      h5 {
        // opacity: 0.6;
        font-size: 14px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #767c87;
      }
      h4 {
        opacity: 1;
        font-size: 14px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #4f535a;
      }
    }
    button {
      width: 100%;
      border: none;
      height: 35px;
      background: rgba(28, 150, 242, 0.1);
      border-radius: 4px;
      font-family: "Lato";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #1c96f2;
    }
  }
}

