.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;

  ._link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #b5b9c0;
    text-decoration: none;
  }

  ._link-active {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #292d32;
  }
}

.text-center {
  text-align: center;
}